<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>   
                              
          <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://nj01ct01.baidupcs.com/file/5dfb0dc7546fe31388d28c1da0d6fa93?bkt=p3-00009eb456860b94b8ebef90a564ce675830&fid=1403469392-250528-655319019281080&time=1522372612&sign=FDTAXGERLQBHSKa-DCb740ccc5511e5e8fedcff06b081203-isAFCikO1nQTzGfHPpMrgJzLcqM%3D&to=63&size=6934499&sta_dx=6934499&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CYangquan%2CAnywhere%2C%2Chubei%2Cct&vuk=1403469392&iv=0&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=00009eb456860b94b8ebef90a564ce675830&sl=76480590&expires=8h&rt=sh&r=983860687&mlogid=2049937420033874255&vbdid=1065639176&fin=ProjectAudit.ipa&rtype=1&dp-logid=2049937420033874255&dp-callid=0.1.1&hps=1&tsl=80&csl=80&csign=yYHQKbqv6sfMXJlL3MCeLkyG3IQ%3D&so=0&ut=6&uter=4&serv=0&uc=1771030823&ic=3863661346&ti=26fa64dbec2882240642d99faa01043e5fb38fd3f3577b05305a5e1275657320&by=themis</string>
              </dict> 
           </array>
            
            <key>metadata</key>
            
            <dict>
                <key>bundle-identifier</key>
                <string>com.jiufu.ProjectAudit</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>ProjectAudit</string>
            </dict>
            
        </dict>
    </array>
</dict>
</plist>